<div class="navbar-container" style="margin-top:-20px;">
    <div class="logo-box">
      <img src="assets/logo.png" alt="MovieNest" width="80" height="70" class="d-inline-block align-top"/>
    </div> 
    <div class="logo-container">
      <h1 class="logo">MovieNest</h1>
    </div>
    <div class="menu-container">
      <ul class="menu-list">
        <li class="menu-list-item"><a routerLink="/" href="/">Home</a></li>
        <li class="menu-list-item"><a routerLink="/rental" href="/rental">Rental</a></li>
        <li class="menu-list-item" *ngIf="!isAuthenticated()"><a routerLink="/app-login" href="/app-login">Login</a></li>
        <li class="menu-list-item" *ngIf="!isAuthenticated()"><a routerLink="/app-register" href="/app-register">Register</a></li>
        <li class="menu-list-item" *ngIf="isAuthenticated()"><a routerLink="/customer-details" href="/customer-details">Customer Details</a></li>
      </ul>
    </div>
    <div class="profile-menu" *ngIf="isAuthenticated()">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Profile
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><button (click)="logout()" class="dropdown-item logout-button">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  